{% extends 'base.html.twig' %}

{% block title %}Réservation chambre Hypnos Cannes{% endblock %}

{% block content %}


<h1 class='text-center'>Réservation HYPNOS CANNES</h1>

{{form(bookingCannesForm)}}

{% endblock %}
