{% extends 'base.html.twig' %}


{% block title %}Mon compte{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Vous étes connecté en tant que {{app.user.email}}<br/>

{% if is_granted('ROLE_USER') %}
Vous pouvez consulter vos réservation <a href="{{path('app_account_bookings')}}">ICI</a> 

{% endif %}


{% if is_granted('ROLE_ADMIN') %}
<span>Vous étes admninistrateur du Group HYPNOS vous pouvez : </span>
<hr>
<a href="/admin">accéder au Backoffice</a><br/>
<a href="/managerParis">A l'hotel HYPNOS Paris</a><br/>
<a href="/managerCannes">A l'hotel HYPNOS Cannes</a><br/>
<a href="/managerMandelieu">A l'hotel HYPNOS Mandelieu</a><br/>
<a href="/managerTheoule">A l'hotel HYPNOS Theoule</a><br/>
<a href="/managerChamonix">A l'hotel HYPNOS Chamonix</a><br/>
<a href="/managerAuxerre">A l'hotel HYPNOS Auxerre</a><br/>
<a href="/managerNice">A l'hotel HYPNOS Nice</a><br/>
{% endif %}

{% if is_granted('ROLE_MANAGER_PARIS') %}
<a href="/managerParis">Vous étes le manager de l'hotel de Paris, acceder a votre interface</a>
{% endif %}

{% if is_granted('ROLE_MANAGER_CANNES') %}
<a class='text-align' href="/managerCannes">Vous étes manager de hotel de Cannes, acceder a votre interface</a>
{% endif %}

{% if is_granted('ROLE_MANAGER_MANDELIEU') %}
<a href="/managerMandelieu">Vous étes manager de hotel de Mandelieu, acceder a votre interface</a>
{% endif %}

{% if is_granted('ROLE_MANAGER_THEOULE') %}
<a href="/managerTheoule">Vous étes manager de hotel de Theoule, acceder a votre interface</a>
{% endif %}

{% if is_granted('ROLE_MANAGER_CHAMONIX') %}
<a href="/managerChamonix">Vous étes manager de hotel de Chamonix, acceder a votre interface</a>
{% endif %}

{% if is_granted('ROLE_MANAGER_AUXERRE') %}
<a href="/managerAuxerre">Vous étes manager de hotel d'Auxerre, acceder a votre interface</a>
{% endif %}

{% if is_granted('ROLE_MANAGER_NICE') %}
<a href="/managerNice">Vous étes manager de hotel de Nice, acceder a votre interface</a>
{% endif %}



{% endblock %}
