{% extends 'base.html.twig' %}

{% block title %}Paris{% endblock %}

{% block carousel %}{% endblock %}

{% block content %}
    

<h1 class="text-center">Paris</h1>

<h2 class="text-center">Bienvenu a l'hotel , située au  à .</h2>

<h3 class="text-center">Notre hotel vous propose différentes suite</h3>


<div class="row">
    <div class="room-item col-4">
        <a href=""><h3>  </h3></a>
        <img src="/assets/" alt="" class="img-thumbnail" style='width : 400px'>
        <p>  </p>
        <div>
        <span class='me-3'>€</span>
        <button type='button' class='btn btn-primary '>Reserver votre suite</button>    
        </div>
    </div>
</div>
<hr>

{% endblock %}
