{% extends 'base.html.twig' %}

{% block title %}Réservation chambre Hypnos Nice{% endblock %}

{% block content %}


<h1 class='text-center'>Réservation HYPNOS NICE</h1>

{{form(bookingNiceForm)}}

{% endblock %}