{% extends 'base.html.twig' %}

{% block title %}Réservation chambre Hypnos Chamonix{% endblock %}

{% block content %}


<h1 class='text-center'>Réservation HYPNOS CHAMONIX</h1>

{{form(bookingChamonixForm)}}

{% endblock %}
