{% extends 'base.html.twig' %}

{% block title %}Réservation chambre Hypnos Auxerre{% endblock %}

{% block content %}


<h1 class='text-center'>Réservation HYPNOS AUXERRE</h1>

{{form(bookingAuxerreForm)}}

{% endblock %}

