
body{
    font-family: 'Signika', sans-serif;
    max-width: 1800px;
    
}

.carousel-caption{
    color: black;
    font-weight: bold;
}

nav{
    background-color: #D0D3D4;
}

.nav-link{
    color: #00B2A9;
    font-weight:700;
}


img.hotel{
    opacity: 0.8;
}