
body{
    font-family: 'Signika', sans-serif;    
}

.carousel-caption{
    color: black;
    font-weight: bold;
}

nav{
    background-color: #D0D3D4;
}

.nav-link{
    color: #00B2A9;
    font-weight:700;
}

img.hotel{
    opacity: 0.7;
}

.btn{
    color: #ffffff;
    background-color: #00b2a9;
}

.btn:hover{
    color: #00b2a9;
    background-color: #ffffff;
}

.hotel-logo-name .logo{
    margin-top: -300px;
    font-weight: bold;
}

.navbar-nav{
    text-align: center;
    margin-left: 580px;
    align-items: center;
}
