{% extends 'base.html.twig' %}

{% block title %}Reservation chambre Hypnos Paris{% endblock %}

{% block content %}


<h1 class='text-center'>Réservation HYPNOS PARIS</h1>

{{form(bookingParisForm)}}

{% endblock %}

