{% extends 'base.html.twig' %}

{% block title %}Réservation chambre Hypnos Mandelieu{% endblock %}

{% block content %}


<h1 class='text-center'>Réservation HYPNOS MANDELIEU</h1>

{{form(bookingMandelieuForm)}}

{% endblock %}
