{% extends 'base.html.twig' %}

{% block title %}Réservation chambre Hypnos Theoule{% endblock %}

{% block content %}


<h1 class='text-center'>Réservation HYPNOS THEOULE</h1>

{{form(bookingTheouleForm)}}

{% endblock %}
